@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c2a356;
  --background-light: #ffffff;
  --background-dark: #111827;
  --navy: #0d1b33;
  --light-gray: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bricolage Grotesque", sans-serif;
}

.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
.background-light {
  background-color: var(--background-light);
}
.background-dark {
  background-color: var(--background-dark);
}
.text-navy {
  color: var(--navy);
}
.bg-navy {
  background-color: var(--navy);
}
.bg-light-gray {
  background-color: var(--light-gray);
}
